@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Online Contact Management Studio </h3>

<p>
    An online contact book, at your service
    It’s simple. A complete online solution to create and manage your contacts.
    Define contact phone such as cellphones, work, home, thus, making it a great,
    flexible solution for sales teams as their CRM, HR for managing employees contact info,
    or purchases to manage providers data.
</p>