@{
    ViewData["Title"] = "Contact & Support";
}
<h2>@ViewData["Title"]</h2>


<address>
    Athens, PC 11361<br />
    <abbr title="Phone">Phone:</abbr>
    698.050.8758
</address>

<address>
    <strong>Support:</strong> <a href="mailto:stefanosmichalacos@gmail.com">stefanosmichalacos@gmail.com</a><br />
</address>
