@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/CMS.png" alt="ASP.NET" class="img-responsive" />
            <p> <h4>Login or Register to enter the studio</h4></p>
        </div>
    </div>
</div>